#encoding: windows-1252
<p>I have had a great life till now and I want to share it with you.</p>

<p>My life can be loosely divided into 3 parts - One where talent helped open many doors, the second where I went through a dip and the third where I started to get a grip of how to make ideas happen in order to fulfil my dreams. </p>

<p>So let’s start with the 1<sup>st</sup> phase</p>

<p>Basically a happy childhood in an Indian context consists of what -<br />
Having a loving family,<br />
getting a good rank without studying too much,<br />
playing a lot and being good at it<br />
being a teacher's favourite<br />
and last but not the least being good in Maths and Science.</p>

<p>As you can guess I ticked all of the above boxes. But then the obstacles started to appear.<br />
I failed to get a good rank in my engineering entrance exams and scored 86% in my 12th board. I spent the next year in Delhi where I prepared again for IITJEE and this time I was dealt a bad hand. I contracted Jaundice before the exam and was bedridden for more than a month. I somehow managed to find the courage to appear for the exams took admission in KIIT University, Bhubaneswar. </p>

<p>The setback of not getting into one of the IITs forced me into a shell and I found my escape in playing football and computer games. I found that I also had a knack for programming which helped me breeze through the 4 years. People around me knew that I had loads of potential but there was no clear path in front of me. I just dreamt of opening a football academy in India while in reality ..I had to take care of an education loan after passing out of college. I had job offers from TCS and Amdocs and I decided to join the latter which in hindsight was a great decision.<br />
After coming here I worked very hard and I also played a lot of football. Months passed like days in Pune. But you know how dreams are, they don't let you sleep. Internet and books also started inspiring me to move out of my comfort zone. What can I do next I thought? I started emailing people who were already doing some stuff related to football or sport in general. Some ignored but a few replied. One was Ashok Rathod who is the founder of OSCAR India foundation in Mumbai. His idea is to teach the value of education to underprivileged kids through the medium of football. To raise some funds, I made a calendar using the pictures I had clicked and sold it to family and friends. Currently I am designing a brochure for spreading the OSCAR India brand. The other person that I met is Anurag Khilnani, one of the founders of Bhaichung Bhutia football schools. They are trying to promote the game of football at the grassroot level in India. As their business is growing, they are in need of people who are passionate about the game as they are .. I am trying to force my way in.</p>

<p>You must be thinking that I just got lucky but let me explain how I created my own luck.<br />
Apart from spending around 9 hours in office, I prepared for CAT, so that I could do an MBA from an IIM and then earn lots of money and open my own football academy in 10 years’ time. I am still trying J<br />
Photography helped me to do the calendar project which impressed quite a few people. One of my photos was even selected among 5000 entries for the Amdocs Instagram competition.<br />
I learned to code in Rails to create websites easily. I learned Adobe Indesign to make a brochure. <br />
I travelled to Kerala, Tamil Nadu, and Ireland in the last 3 years. I read many books and blogs,trekked, and also started running in the morning. All this to inspire myself.<br />
And I blogged about my plans and dreams to make myself accountable to my friends and family.</p>

<p>In spite of trying so many things, I am focussed on my purpose in life. It’s just that I am trying to increase the number of paths to that destination.<br />
Joining toastmasters too outlines my intent of performing a count++ on my skills array.<br />
I have stopped waiting for the perfect scenario. Rather by doing these small projects, I am getting closer to my goal.</p>

<p>I would like to end my speech with a quote from Rabindranath Tagore “You can't cross the sea merely by standing and staring at the water.”<br />
Thank You.</p>

