<% provide(:title, 'Achievements ') %>
<article>
<h2>Achievements</h2>
	<ul>
<li>Completed a half marathon</li>
<li>Part of the Amdocs Football team and college football team</li>
<li>Won the coding competition held in Amdocs quarterly</li>
<li>Won the Instagram Photography Contest held in Amdocs</li>
<li>3rd prize in Programming contest <strong><em>Codiac</em></strong> in Kritansh-09 of KIIT-University</li>
<li>Recognition award by AMDOCS within 6 months after joining</li>
<li>Was part of the team that started Toastmasters club at Amdocs</li>
</ul>
</article>