<% provide(:title, 'My Challenges ') %>
<article><h2>Challenges </h2>
<ol>
<li class="finished">Write 750 words daily for a month </li>
<li class="current">Complete 10 pomodoros every day for a month </li>
<li class="current">Complete 100 pomodoros in a week </li>
<li>Publish a photograph every week </li>
</ol>
</article>