<% provide(:title, 'My Impossible List') %>
<article>
<h2>My impossible list </h2>
<div>Fitness/Health Goals</div>
<div>
<ul>
<li class="finished">Run a 5K </li>
<li class="finished">Run a half marathon</li>
<li>Run a marathon ( 42.195 km )</li>
<li>Learn to swim</li>
</ul>
<div>Professional Goals</div>
</div>
<div>
<ul>
<li>Make 20k in a month without having the restriction of time and space</li>
<li>Write a book </li>
<li>Speak to an audience of more than 500 people </li>
</ul>
<div>Skill Goals </div>
</div>
<div>
<ul>
<li class="finished">Learn to create a website ( I have 3 operational websites currently )</li>
<li>Be an expert in Ruby on Rails</li>
</ul>
<div>Fun and/or Insane goals</div>
</div>
<div>
<ul>
<li>Spend a month in a foreign country </li>
<li>Scuba diving </li>
</ul>
</div>
<div>Travel goals </div>
<div>
<ul>
<li>Visit Ireland using my own money </li>
<li>Visit Spain ( Barcelona in particular ) </li>
<li>Visit Ladakh </li>
<li>Visit Andaman and Nicobar </li>
<li>Visit Maldives</li>
</ul>
</div>
</article>