<% provide(:title, 'My Projects ') %>
<article>
	<h2>Projects</h2> 
<h3>Professional</h3>
<p class="project"><span class="headline">Project: Ensemble</span> 
</p><p>Description: Ensemble is Amdocs' platform that provides one of the leading customer care, billing and order management solutions for convergent telecom operations. It supports the full-range of fixed-line and mobile services.
</p><p>Client: O2 Ireland, Swiss Orange <br/>
Technologies: Cobol, Unix, SQL
</p><p>Role: Working as an SSME, my role is to make sure that there are no glitches in production by handling tickets and defects. I also work on Change requests based on new requirements provided by the customer. I communicated with my site counterparts directly and also had an opportunity to work on site for 3 weeks in Dublin.
</p><h3>Side projects using Ruby on Rails
</h3><p>Github profile: <a href="https://github.com/abhishekbose87/">https://github.com/abhishekbose87/</a>
</p><p class="project"><span class="headline">Pomarity</span> ( <a href="http://www.pomarity.in/">http://www.pomarity.in/</a> )
</p><p>       Created a website  to keep track of pomodoros completed every day. I used activeadmin gem to create an admin interface to enter data and javascript graphs to show the last week’s data. Hopefully one day this can be sponsored to help NGOs just like there are running events which act as fundraisers.
</p><p class="project"><span class="headline">execute-todo</span>(  <a href="http://execute-todo.herokuapp.com/">http://execute-todo.herokuapp.com/</a> )
</p><p>       Created a todo app where you can track the number of pomodoros worked on a particular task. It shows a notification when you have completed a pomodoro and brings focus to the window to decide whether the last pomodoro was valid or not. 
</p><p class="project"><span class="headline">Personal website</span> ( <a href="http://abhishekbose.com/">http://abhishekbose.com/</a> )
</p><p>      Created a personal website for myself using ruby on rails.
</p><h3>Other fun projects:
</h3><p class="project"><span class="headline">OSCAR Brochure</span> ( <a href="http://goo.gl/ycj3D4">http://goo.gl/ycj3D4</a> )
</p><p>       Created a brochure for OSCAR India Organisation using Adobe Indesign
</p><p class="project"><span class="headline">Calendar for fundraising</span> ( <a href="http://goo.gl/kf7LPB">http://goo.gl/kf7LPB</a> )
</p><p>       Created a calendar using the photographs I had clicked in Ireland to raise funds for OSCAR India Organisation. 
</p><p class="project"><span class="headline">Part time project with BBFS</span>
</p><p>      Currently working on a part time project with Bhaichung Bhutia Football Schools
</article>
