<% provide(:title, 'What am I doing now') %>
<article>
<h2>What am I doing right now ? </h2>
<p>I quit my job at Josh Software and now I am currently working from my hometown Jamshedpur. Been building a MVP for an idea related to photographers marketplace and also been freelancing on the side to make ends meet.
</p>
</article>
<div id="past-updates-section">
  <article>
    <h5> Feb 2014 </h5>
    <p>I am working in Josh software right now, one of the leading companies in India associated with Ruby on Rails. The learning curve is pretty steep but the environment is fun enough to get you through. It seems that I have got my programming mojo back which is a great thing and most importantly I have proved to myself that I can learn something new on my own and get employed in that domain.
    </p>
    <p>Happy for now .. and I am much more calmer :)</p>
  </article>
  <article>
    <h5>Aug 2013 </h5>
    <p>I am in the middle of a career break where I am trying to design a life which goes along with my definition of success.
    </p>
  </article>
</div>
