<% provide(:title, 'What am I doing now') %>
<article>
<h2>What am I doing right now ? </h2>
<p>I am in the middle of a career break where I am trying to design a life which goes along with my definition of success. 
</p>
<%= image_tag("india-abhishek-bose.jpg", class:"center") %>
</article>
