<% provide(:title, 'What am I doing now') %>
<article>
<h2>What am I doing right now ? </h2>
<p>I am working in Josh software right now, one of the leading companies in India associated with Ruby on Rails. The learning curve is pretty steep but the environment is fun enough to get you through. It seems that I have got my programming mojo back which is a great thing and most importantly I have proved to myself that I can learn something new on my own and get employed in that domain.
</p>
<p>
Happy for now .. and I am much more calmer :)
</p>
</article>
