<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Abhishek Bose", root_path, id: "logo" %> 
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Bio",    about_path %></li>
          <li><%= link_to "Resume", "/resume.pdf" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
